@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;1,700&family=Roboto+Slab:wght@600;700&family=Roboto:wght@400;500;700&display=swap');
.btn{
    /* width: 30px; */
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(57, 136, 41);
}
.primary {
    color: #fff;
    background-color: rgb(69, 168, 49);
}
.secondary {
    color: rgb(55, 60, 82);
    border: solid 2px rgb(55, 60, 82);
    padding:7px 10px ;
    background-color: #fff;
}
.secondary:hover {
   background-color: rgb(55, 60, 82);
   color: #fff;
}
.danger {
    background-color: rgb(226, 17, 17);
    color: #fff;
}
.danger:hover{
    background-color: rgb(192, 11, 11);
}