.container-form {
    width: 35vw;
    /* height: 55vh; */
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    margin: 80px auto;
}
.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px 20px auto auto;
    padding-top: 10px;
}
.text-field {
    display: flex;
    flex-direction: column;
    margin: 12px;
}
.container-button{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding: 20px;
}
.btn-crear{
    width: 90px;
}
.btn-cancel {
    width: 90px;
    margin-left: 20px;
}
.form__required-data {
    margin-bottom: 0;
    color: red;
    font-size: 14px;
}
.form__select-sex{
    width: 80%;
    padding: 12px;
    border-radius: 5px;
}